@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.header-container {
    display: flex;
    height: 64px;
    border: 2px solid;
    background-color: #62757f;
}

.header-container .semi-screen-container {
    display: flex;
    width: 50%;
}

.header-container .semi-screen-container .logo {
    height: 100%;
    width: auto;
}

.header-container .semi-screen-container .block-text {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 33%;
    margin: 10px;
}

.main-container {
    display: flex;
    width: 100%;
    height: 250px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-container .info-container {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}

.main-container .img-container {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background-color: #ccc;
}

.title-container {
    display: flex;
    font-size: 32px;
    justify-content: center;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1536px;
    margin: 50px auto;
    min-height: 200px;
    position: relative;
}

.carousel-container .carousel-inner {
    overflow: hidden;
}

.carousel-container .track {
  display: inline-flex;
  transition: transform 0.5s;
}

.carousel-container .card-container {
  width: 384px;
  flex-shrink: 0;
  height: 256px;
  padding: 10px;
  box-sizing: border-box;
}

.carousel-container .card-container .card {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.nav button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #62757f;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.nav .prev {
    left: -24px;
    display: none;
}

.nav .prev.show {
    display: block;
}

.nav .next {
    right: -24px;
}

.nav .next.hide {
    display: none;
}

.card > * {
    flex: 1;
}

.card .img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .info {
    background-color: #62757f;
    color: #fff;
    padding: 10px;
    flex-grow: 0;
    box-sizing: border-box;
}